soap/data_msService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="data_ms" targetNamespace="http://tempuri.org/data_ms" xmlns="http://tempuri.org/data_ms" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/data_ms" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/data_ms" xmlns:mrm="http://tempuri.org/data_ms">
      <xsd:element name="id_empleado" type="xsd:int"/>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="salario" type="xsd:string"/>
      <xsd:complexType name="requestData">
        <xsd:sequence>
          <xsd:element ref="id_empleado"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="responseData">
        <xsd:sequence>
          <xsd:element ref="nombre"/>
          <xsd:element ref="salario"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="requestData" type="requestData"/>
      <xsd:element name="responseData" type="responseData"/>
      <xsd:element name="fcode" type="xsd:int"/>
      <xsd:element name="fmessage" type="xsd:string"/>
      <xsd:complexType name="errorMessage">
        <xsd:sequence>
          <xsd:element ref="fmessage"/>
          <xsd:element ref="fcode"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="errorMessage" type="errorMessage"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operacionDatos_in">
    <wsdl:part element="requestData" name="requestData"/>
  </wsdl:message>
  <wsdl:message name="operacionDatos_out">
    <wsdl:part element="responseData" name="responseData"/>
  </wsdl:message>
  <wsdl:message name="operacionDatos_fault1">
    <wsdl:part element="errorMessage" name="errorMessage"/>
  </wsdl:message>
  <wsdl:portType name="data_msPortType">
    <wsdl:operation name="operacionDatos">
      <wsdl:input message="operacionDatos_in" name="operacionDatos_Input"/>
      <wsdl:output message="operacionDatos_out" name="operacionDatos_Output"/>
      <wsdl:fault message="operacionDatos_fault1" name="operacionDatos_Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="data_msSOAP_HTTP_Binding" type="data_msPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operacionDatos">
      <soap:operation soapAction="DevolverDatos"/>
      <wsdl:input name="operacionDatos_Input">
        <soap:body parts="requestData" use="literal"/>
      </wsdl:input>
      <wsdl:output name="operacionDatos_Output">
        <soap:body parts="responseData" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="operacionDatos_Fault">
        <soap:fault name="operacionDatos_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="data_msSOAP_HTTP_Service">
    <wsdl:port binding="data_msSOAP_HTTP_Binding" name="data_msSOAP_HTTP_Port">
      <soap:address location="http://localhost:7800/data_msSOAP_HTTP_Service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>